---
---
// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "bulma",
  "switch"
;

@media (max-width: 768px) {
  .hero-body, section.section, footer.footer {
    padding: 1.5rem 0.75rem;
  }
}

.homepage {
  .basic-info {
    padding-right: 1rem !important;
    @media (max-width: 768px) {
      padding-right: 0 !important;
      margin-bottom: 2rem;
    }
  }
  .leagues {
    .card {
      img {
        width: 100%;
      }
      &:hover {
        box-shadow: 0 2px 3px rgba(10, 10, 10, 0.25), 0 0 0 1px rgba(10, 10, 10, 0.25);
      }
    }
  }
}

.league-table {
  padding-top: 0;
  .league-info {
    position: sticky;
    top: 1rem;
    width: 100%;
    img {
      height: 80px;
      margin: 0 20px;
    }
  }
  .legend {
    .qualifications {
      padding: 1rem 0;
      .legend-entry {
        display: inline-block;
        @media (max-width: 768px) {
          display: block;
        }
        &.hidden {
          display: none;
        }
      }
      .square {
        height: 1rem;
        width: 1rem;
        border-radius: 3px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 0.75rem;
        margin-right: 0.25rem;
      }
      .cl .square {
        background-color: #4daf4a;
      }
      .el .square {
        background-color: #377eb8;
      }
      .el-playoffs .square {
        background-color: #984ea3;
      }
      .relegation-playoffs .square {
        background-color: #ff7f00;
      }
      .relegation .square {
        background-color: #e41a1c;
      }
    }
  }
  th.header-points {
    width: 10px;
  }
  .points {
    color: transparent;
    text-align: left;
    font-family: "Ubuntu Mono", monospace;
    font-weight: bold;
    font-size: 1.2rem;
    vertical-align: middle;
  }
  .league.table tr td {
    padding: 0.2em 0.75em;;
  }
  .team-box {
    display: inline-block;
    border: 1px solid $grey-lighter;
    margin: 1px 0.5rem 1px 0;
    border-radius: 3px;
    overflow: hidden;
    vertical-align: middle;
    &:hover {
      border: 1px solid $grey;
    }
    .position {
      display: inline-block;
      background-color: $grey-lighter;
      padding: 0 0.25rem;
      font-family: "Ubuntu Mono", monospace;
      line-height: 26px;
    }
    .name {
      display: inline-block;
      padding: 0 0.5rem;
      font-weight: bold;
      max-width: 45vw;
      white-space: nowrap;
    }
    .played {
      display: inline-block;
      padding: 0 0.25rem;
      font-family: "Ubuntu Mono", monospace;
      background-color: $white-ter;
      line-height: 26px;
    }
    .goal-difference {
      display: inline-block;
      padding: 0 0.25rem;
      font-family: "Ubuntu Mono", monospace;
      line-height: 26px;
      &.positive {
        background-color: #e4efe3;
      }
      &.negative {
        background-color: #efe4e3;
      }
      &.equal {
        background-color: $white-bis;
      }
    }
  }
}

.season-table {
  .table {
    thead {
      td, th {
        text-align: center;
      }
      img {
        max-width: 30px;
      }
      th {
        padding-top: 0;
        border: none;
      }
    }
    td, th {
      border: none;
    }
    td.teams {
      height: 15px;
      text-align: center;
      padding: 0;
    }
    tbody {
      transition: border-color 0.5s;
      tr {
        border-bottom: 1px solid #fff;
        transition: border-color 0.5s;
      }
    }
  }
  .column.information {
    padding-right: 1rem !important;
    .legend {
      .team-circle {
        height: 10px;
        width: 10px;
        border-radius: 50px;
        background-color: #666;
        display: inline-block;
        margin-right: 10px;
      }
      .hidden {
        display: none;
      }
    }
    hr {
      width: 90%;
    }
    .toggle-grid {
      margin-bottom: 2rem;
      label {
        font-size: 1rem;
        padding-top: 0;
      }
    }
    .last-update-wrap {
      font-size: 0.75rem;
      line-height: 0.75rem;
    }
  }
  .column.points {
    padding: 0;
    border: none;
    max-width: 25px;
    tbody {
      border: none;
    }
    .points-wrap {
      height: 15px;
      .listed-points {
        height: 15px;
        font-size: 0.9rem;
        line-height: 15px;
        vertical-align: top;
        font-family: "Ubuntu Mono", monospace
      }
    }
  }
  .column.league {
    padding: 0;
    tbody {
      border-left: 1px solid #efefef;
      transition: border-color 0.5s;
      tr {
        border-left: 1px solid #efefef;
        border-bottom: 1px solid transparent;
        transition: border-color 0.5s;
      }
    }
    &:nth-of-type(1) .table tbody tr {
      border-left: none;
      border-right: none;
    }
    &:nth-of-type(2) .table tbody tr {
      border-left: none;
    }
    .circle-wrap {
      height: 15px;
      .team-circle {
        height: 10px;
        width: 10px;
        border-radius: 50px;
        background-color: #666;
        display: inline-block;
        margin: 0 2px 5px 2px;
      }
      /* for mobile */
      @media (max-width: 768px) {
        .team-circle {
          margin-bottom: 5px;
          height: 8px;
          width: 8px; }
      }
      /* for small mobile */
      @media (max-width: 375px) {
        .team-circle {
          margin: 0 1px 7px 1px;
          height: 7px;
          width: 7px; }
      }
    }
  }
  .columns.is-grid .table tbody tr, .columns.is-grid .table tbody {
    border-color: #999;
  }
  .columns.tables {
    &:not(.is-active) {
      display: none;
    }
  }
  &.single-season {
    padding-top: 0;
  }
}

.leagues-page {
  .card {
    height: 100%;
    &:hover {
      box-shadow: 0 2px 3px rgba(10, 10, 10, 0.25), 0 0 0 1px rgba(10, 10, 10, 0.25);
    }
    .card-image {
      img {
        padding: 1.5rem;
      }
    }
  }
}

.coffee {
  table tbody {
    font-family: "Ubuntu Mono", monospace;
  }
}

footer.footer {
  .coffee {
    margin-top: 0.5rem;
  }
}