---
layout: base
title: Buy me a coffee
---
<article class="coffee">
	<section class="hero is-light">
	  <div class="hero-body">
	    <div class="container">
	      <h1 class="title">
	        Buy me a coffee
	      </h1>
	      <h2 class="subtitle">
          Or share the site with your friends, both are highly appreciated!
	      </h2>
	    </div>
	  </div>
	</section>
	<section class="section">
    <div class="container">
    	<div class="content">
        <table class="table">
          <thead>
            <tr>
              <th>Currency</th>
              <th>Wallet address</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>BTC</td><td>1FMyE4Z8JdT2ZDtK3kgoumvZ7CydLopg1s</td></tr>
            <tr><td>BCH</td><td>qpfrgrvylyqrfvfjdmdzzrccgyua838hss37tdrdl6</td></tr>
            <tr><td>ETH</td><td>0x85657efEC8D90328d05E74BA857188405e7d833B</td></tr>
            <tr><td>ETC</td><td>0xA64aA6A91bAA818e8A91CCC02084e2FD37A6E797</td></tr>
            <tr><td>LTC</td><td>MAAthkwyVRKChfHAvdXntgmpE57Y33WET3</td></tr>
            <tr><td>ZRX</td><td>0x3261e99FD7b2CD970829a1a590C760b82c7955a3</td></tr>
            <tr><td>BAT</td><td>0x1E6e2abF0AC89fD4a6f465dD04b53ce0AbcA1C80</td></tr>
            <tr><td>USDC</td><td>0xC4504a902c4E00d0167C414F5724654Caa2d2E61</td></tr>
            <tr><td>ZEC</td><td>t1TdBFvg6vm3thFZgt9ernjyq4w2T8Hfssi</td></tr>
            <tr><td>DAI</td><td>0x57a76e7BBeFEf6412adCF127E656b8d1facB89b1</td></tr>
            <tr><td>LINK</td><td>0xe8Fbd70dDb8c0f05840FFD80b498fc44e985240F</td></tr>
            <tr><td>REP</td><td>0x642864e934e576a078C76D37874BB669D5581B0b</td></tr>
          </tbody>
        </table>
    	</div>
    </div>
	</section>
</article>