---
layout: base
title: Contribute to the site
---
<article class="contribute">
	<section class="hero is-light">
	  <div class="hero-body">
	    <div class="container">
	      <h1 class="title">
	        Contribute to the site
	      </h1>
	      <h2 class="subtitle">
	      	Add a new league or seasons of existing leagues
	      </h2>
	    </div>
	  </div>
	</section>
	<section class="section">
    <div class="container">
    	<div class="notification is-info">
    		I don't want to waste time writing detailed instructions if no one is interested. <a href="mailto:mail@guushoekman.com"><b>Let me know</b></a> if you want to contribute to the site and the instructions below aren't clear enough.
    	</div>
    	<div class="content">
    		<h3 class="title">
    			Getting started
    		</h3>
    		<p>
    			The website is served from <a href="https://gitlab.com/guushoekman/cann-tables">GitLab</a> and all the historical content is hosted there. For every season, there is a directory with a JavaScript file for each league. As an example, take a look at the directory for <a href="https://gitlab.com/guushoekman/cann-tables/tree/master/js/2017-18">the 2017/18 season</a>. If you want to understand how this data is used please feel free to take a look around the repository, but note that it's not necessary to know how it works if you just want to add content.
    		</p>

    		<h3 class="title">
    			Contribute an individual season
    		</h3>
  			<p>
  				The easiest way to make a useful contribution is to send me the data of a single season in the right format. Please note that for now I'd like to focus on first tier leagues.
  			</p>
  			<p>
  				The format to follow is not complicated. <a href="https://gitlab.com/guushoekman/cann-tables/blob/master/js/2017-18/de.js">This file</a> shows the data for the 2017/18 Bundesliga. You'll need to replace the data of that file with the data of the season you're adding.
  			</p>
  			<p>
  				The first is the variable name, or <code>var</code>. It's the country code, specifically the ISO 3166-1 alpha-2 code. For Germany that's <code>de</code>. You can check which code to use <a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements">on Wikipedia</a>.
  			</p>
  			<p>
  				The second thing to do is adding the season's metadata: the competition name, the source of the data (please use Wikipedia), the number of teams in the league, and the European qualification and relegation places. For these, simply add the rankings for the teams that qualified to the Champions League places, Europa League, and which relegated. Important to note is that this should be the teams that actually qualified. The Europa League spots for the 2017/18 Bundesliga season are listed as 5, 6 and 8. Frankfurt finished 8th, but qualified for the Europa League group stage by winning the cup.
  			</p>
  			<p>
  				Lastly, and most importantly, add the league table data. How I've done it so far is by putting the league table in a spreadsheet and then using <a href="https://csvjson.com/csv2json">CSV to JSON</a> to convert it to the right format. You can use <a href="de.ods">this example spreadsheet</a> to get the proper format. Just copy-paste the table and hit convert. Then copy-paste the result in the appropriate place.
  			</p>
  			<p>
  				When this is all done. Please save the file using the country code and the <code>js</code> extension and <a href="mailto:mail@guushoekman.com">email me the file</a>. I'll put it up on the site ASAP. If you're familiar with <code>git</code> and GitLab, please feel free to make a pull request, but I can't imagine this is time-effective for a single season.
  			</p>
  			<h3 class="title">
  				Contribute multiple seasons
  			</h3>
  			<p>
  				Please <a href="mailto:mail@guushoekman.com">send me an email</a> if you want to contribute a significant amount of data. I can then properly explain everything that is required to add them to the site. I only want to write these instructions if someone needs them.
  			</p>
    	</div>
    </div>
	</section>
</article>