---
layout: base
title: Offline
---
<article class="offline">
	<section class="hero is-light">
	  <div class="hero-body">
	    <div class="container">
	      <h1 class="title">
	        You're offline :(
	      </h1>
	      <h2 class="subtitle">
	      	Please reconnect to the internet
	      </h2>
	    </div>
	  </div>
	</section>
</article>