<footer class="footer">
  <div class="container">
  	<div class="columns is-desktop">
  		<div class="column">
	  	  <i class="far fa-fw fa-duck"></i> Made by <a href="https://guushoekman.com">Guus Hoekman</a>
	  	  <br>
	  	  <a class="button is-info coffee" href="https://liberapay.com/guus/donate">
	  	    <span class="icon">
	  	      <i class="fas fa-mug-hot"></i>
	  	    </span>
	  	    <span>Buy me a coffee</span>
	  	  </a>
  		</div>
  		<div class="column attribution">
	  	  <i class="far fa-fw fa-database"></i> Data provided by the <a href="https://www.football-data.org">football-data.org API</a> and <a href="https://fbref.com/en/">FBref</a><br>
	  	  <i class="fab fa-fw fa-css3"></i> Made with <a href="https://bulma.io">Bulma</a><br>
	  	  <i class="far fa-fw fa-flag"></i> Flags from <a href="https://www.flaticon.com/packs/rectangular-country-simple-flags">Flaticon</a><br>
	  	  <i class="fab fa-fw fa-gitlab"></i> Source on <a href="https://gitlab.com/guushoekman/cann-tables">Gitlab</a>
	  	</div>
	  	<div class="column">
	  	</div>
  	</div>
  </div>
</footer>