<nav class="navbar is-dark">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <span class="icon">
          <i class="fas fa-fw fa-volleyball-ball"></i>
        </span>
        <span><b>Cann Tables</b></span>
      </a>
      <div class="navbar-burger burger" data-target="navbar">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/leagues">
          <span class="icon">
            <i class="far fa-fw fa-flag" aria-hidden="true"></i>
          </span>
          <span>Leagues</span>
        </a>
        <a class="navbar-item" href="/seasons">
          <span class="icon">
            <i class="far fa-fw fa-calendar" aria-hidden="true"></i>
          </span>
          <span>Seasons</span>
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <a class="button is-info" href="/coffee.html">
            <span class="icon">
              <i class="fas fa-mug-hot"></i>
            </span>
            <span>Buy me a coffee</span>
          </a>
        </div>
        <div class="navbar-item">
          <a class="button is-warning" href="/contribute.html">
            <span class="icon">
              <i class="far fa-plus-circle"></i>
            </span>
            <span>Add a league / season</span>
          </a>
        </div>
      </div>

    </div>
  </div>
</nav>