<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Progressive web app -->
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#363636">

  <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/img/favicon.png">

  <title>{{ site.title }}{% if page.layout == 'season' %} | Seasons | {{ page.season }}{% elsif page.layout == 'league' %} | Leagues | {{ page.competition }} | {{ page.season }}{% elsif page.title %} | {{ page.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}" />

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ site.title }}{% if page.layout == 'season' %} | Seasons | {{ page.season }}{% elsif page.layout == 'league' %} | Leagues | {{ page.competition }} | {{ page.season }}{% elsif page.title %} | {{ page.title }}{% endif %}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="{{ site.image }}">

  <!-- Open Graph data -->
  <meta property="og:title" content="{{ site.title }}{% if page.layout == 'season' %} | Seasons | {{ page.season }}{% elsif page.layout == 'league' %} | Leagues | {{ page.competition }} | {{ page.season }}{% elsif page.title %} | {{ page.title }}{% endif %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://canntables.com{{ page.url }}" />
  <meta property="og:image" content="{{ site.image }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:site_name" content="{{ site.title }}" />

  <link rel="canonical" href="https://canntables.com">

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-NJXGk7R+8gWGBdutmr+/d6XDokLwQhF1U3VA7FhvBDlOq7cNdI69z7NQdnXxcF7k" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/bulma-tooltip.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
