---
layout: base
title: Leagues
---
<section class="section leagues-page">
	<div class="container">
		<div class="columns is-multiline">
			{% for league in site.leagues %}
				{% if league.latest == true %}
					<div class="column is-one-quarter">
			    	<a href="{{ league.url }}">
							<div class="card">
							  <div class="card-image">
							    <figure class="image is-4by3">
							      <img src="/img/logos/{{ league.code }}.svg" alt="{{ league.competition }} logo">
							    </figure>
							  </div>
							  <div class="card-content">
							    <div class="media">
							      <div class="media-left">
							        <figure class="image is-48x48">
							          <img src="/img/flags/{{ league.code }}.svg" alt="{{ league.country }} flag">
							        </figure>
							      </div>
							      <div class="media-content">
							        <p class="title is-5">{{ league.competition }}</p>
							        <p class="subtitle is-6">{{ league.country }}</p>
							      </div>
							    </div>
							  </div>
							</div>
			    	</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</section>