<!doctype html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    <script src="/js/jquery-3.4.1.slim.min.js"></script>
    <script src="/js/colours.js"></script>

    {{ content }}

    {% include footer.html %}

    <!-- navbar -->
    <script>
      document.addEventListener('DOMContentLoaded', function () {

        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

          // Add a click event on each of them
          $navbarBurgers.forEach(function ($el) {
            $el.addEventListener('click', function () {

              // Get the target from the "data-target" attribute
              var target = $el.dataset.target;
              var $target = document.getElementById(target);

              // Toggle the class on both the "navbar-burger" and the "navbar-menu"
              $el.classList.toggle('is-active');
              $target.classList.toggle('is-active');

            });
          });
        }

      });
    </script>

    <!-- Google Analytics... sorry -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90365352-11"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-90365352-11');
    </script>

  </body>
</html>