---
layout: base
---
<section class="section league-seasons">
  <div class="container">
    <div class="tabs is-centered">
      <ul>
        {% for league in site.leagues %}
          {% if league.code == page.code %}
            <li {% if league.season == page.season %}class="is-active"{% endif %}><a href="{{ league.url }}">{{ league.season }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<section class="section league-table">
  <div class="container">
    <div class="columns is-centered is-desktop">
      <div class="column is-4-desktop">
        <div class="box league-info">
          <div class="has-text-centered">
            <img src="/img/flags/{{ page.code }}.svg" alt="{{ page.country }} flag">
            <img src="/img/logos/{{ page.code }}.svg" alt="{{ page.competition }} logo">
          </div>
          <table class="table is-fullwidth">
            <tbody>
              <tr>
                <th>Country</th>
                <td>{{ page.country }}</td>
              </tr>
              <tr>
                <th>League</th>
                <td>{{ page.competition }}</td>
              </tr>
              <tr>
                <th>Season</th>
                <td>{{ page.season }}</td>
              </tr>
            </tbody>
          </table>
          <div class="buttons is-centered">
            <a class="button source" target="_blank" href=""><span class="icon"><i class="fab fa-wikipedia-w"></i></span><span>Source</span></a>
            <a class="button" target="_blank" href="{% if page.latest and page.api != false %}https://data.canntables.com/{{ page.code }}.js{% else %}/js/{{ page.season | replace: '/', '-' }}/{{ page.code }}.js{% endif %}"><span class="icon"><i class="fas fa-database"></i></span><span>Data</span></a>
            <a class="button" href="mailto:mail@guushoekman.com"><span class="icon"><i class="fas fa-exclamation-circle"></i></span><span>Correct a mistake</span></a>
          </div>
          <hr>
          <div class="legend has-text-centered">
            <div class="team-box">
              <span class="position">Pos</span><span class="name">Team name</span><span class="played">Played</span><span class="goal-difference equal">Goal dif</span>
            </div>
            <div class="qualifications">
              <span class="legend-entry cl"><span class="square"></span>Champions League</span>
              <span class="legend-entry el"><span class="square"></span>Europa League</span>
              <span class="legend-entry el-playoffs hidden"><span class="square"></span>Europa League playoffs</span>
              <span class="legend-entry relegation-playoffs hidden"><span class="square"></span>Relegation playoffs</span>
              <span class="legend-entry relegation"><span class="square"></span>Relegation</span>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-8-desktop">
        <table class="table league is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th class="header-points">Pts</th>
              <th class="header-teams">Teams</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

{% if page.latest and page.api != false %}
  <script src="https://data.canntables.com/{{ page.code }}.js"></script>
{% else %}
  <script src="/js/{{ page.season | replace: '/', '-' }}/{{ page.code }}.js"></script>
{% endif %}

<script>
  var league = {{ page.code }};
</script>
<script src="/js/leagueTable.js"></script>
