---
layout: base
---
<section class="section">
	<div class="container">
	  <div class="tabs is-centered">
	    <ul>
	      {% for season in site.seasons %}
	        <li {% if season.season == page.season %}class="is-active"{% endif %}><a href="{{ season.url }}">{{ season.season }}</a></li>
	      {% endfor %}
	    </ul>
	  </div>
	</div>
</section>

<section class="section season-table single-season">
  <div class="container">
  	<div class="columns is-gapless is-mobile is-multiline">
  		<div class="column information is-12-mobile is-4-tablet is-3-widescreen">
  			<h1 class="title is-size-5-touch is-size-4-desktop">{{ page.season }} season</h1>
  			<div class="legend is-hidden-mobile">
          <span class="team-circle" style="background-color: #4daf4a"></span>Champions League + qualifiers<br>
          <span class="team-circle" style="background-color: #377eb8"></span>Europa League + qualifiers<br>
          <span class="el-playoffs hidden"><span class="team-circle" style="background-color: #984ea3"></span>Europa League playoffs (local)<br></span>
          <span class="relegation-playoffs hidden"><span class="team-circle" style="background-color: #ff7f00"></span>Relegation playoffs<br></span>
          <span class="team-circle" style="background-color: #e41a1c"></span>Relegation
        </div>
        <hr>
        <div class="toggle-grid">
          <input id="toggleGrid" type="checkbox" name="toggleGrid" class="switch is-small is-info is-rounded" onclick="showGrid()">
          <label for="toggleGrid">Toggle grid</label>
        </div>
        {% if page.latest == true %}
          <div>
            Last updated: <span class="last-update"></span>
          </div>
        {% endif %}
  		</div>
      <div class="column league-tables">
        <div class="tabs is-centered">
          <ul>
            <li class="is-active"><a data-tab="per-game">Points per game</a></li>
            <li><a data-tab="total">Total points</a></li>
          </ul>
        </div>
        <div class="columns tables is-active is-mobile per-game">

        </div>
        <div class="columns tables is-mobile total">

        </div>
      </div>
  	</div>
  </div>
</section>

<script>
	var leagues = [];
	var season = '{{ page.season | replace: '/', '-' }}';
</script>

{% for league in page.leagues %}
  {% if page.latest and page.api != "false" %}
    <script src="https://data.canntables.com/{{ league.code }}.js"></script>
  {% else %}
    <script src="/js/{{ page.season | replace: '/', '-' }}/{{ league.code }}.js"></script>
  {% endif %}
	<script>leagues.push({{league.code}})</script>
{% endfor %}

{% if page.latest == true %}
<script>
  // last updated global
  var lastUpdated = new Date(2015, 11, 20);
</script>
{% endif %}

<script src="/js/seasonTable.js"></script>